<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hamon API</title>

    <!-- LOAD CORE CSS -->
    <link href="../assets/img/brand/Hamon--DARK.png" rel="icon" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="../assets/css/hamon.css" type="text/css">
    <link type="text/css" href="../assets/css/argon.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid bg-secondary" style="min-height: 100vh; padding: 0;">
    <header class="navbar flex-row align-items-md-center navbar-dark bg-dark pad-navbar" style="margin-bottom: 1rem;">
        <a class="navbar-brand mr-0 mr-md-2 text-secondary" href="/">
            <img src="../assets/img/brand/HamonBANNER--WHITE.png" alt="">
            <sup>DOCS</sup>
        </a>

        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
                <a class="btn btn-icon btn-secondary" href="/">
                    <span class="btn-inner--text">Home page</span>
                </a>
            </li>
        </ul>
    </header>
    <div class="container bg-white" style="padding: 5vh 10vw;">
        <div class="card">
            <div class="card-header" style="height: 80px;">
                <h3 class="card-title">404 - Not Found</h3>
            </div>
            <div class="card-body">
                <p class="card-text">
                    This endpoint surely isn't what you were searching for.<br>
                    Please head back to the <a class="badge badge-warning" href="/">home page</a> if you wanna use the API.<br>
                    Again- Jus-- Just do it--- I mean- Yeah---
                </p>
                <a href="/" class="btn btn-dark">Home page</a>
            </div>
        </div>
    </div>
    <footer class="navbar flex-row align-items-md-center navbar-dark bg-dark pad-navbar" style="margin-top: 1rem;">
        <a class="navbar-brand mr-0 mr-md-2 text-secondary" href="/">
            <img src="../assets/img/brand/Hamon--WHITE.png" alt="">
        </a>
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item text-white">
                <sub>© 2019 - All rights reserved to Joliveau Thomas</sub>
            </li>
        </ul>
    </footer>
</div>

<!-- LOAD CORE JS -->
<script src="../assets/vendor/jquery/jquery.min.js"></script>
<script src="../assets/vendor/popper/popper.min.js"></script>
<script src="../assets/vendor/bootstrap/bootstrap.min.js"></script>
<script src="/assets/vendor/nouislider/js/nouislider.min.js"></script>
<script src="/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="../assets/js/argon.js"></script>
</body>
</html>